<!-- Date d'échéance -->
<div class="field">
    <label class="label">Date d'échéance</label>
    <div class="control">
        <input class="input" type="date" name="echeance" 
               value="<%= task?.echeance ? (typeof task.echeance === 'string' ? task.echeance.split('T')[0] : new Date(task.echeance).toISOString().split('T')[0]) : '' %>" required>
    </div>
</div> 