<!-- Footer -->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Gestionnaire de Tâches</strong> - Créé avec ExpressJS, MongoDB, EJS et Bulma.
        </p>
    </div>
</footer>

</body>
</html>

