<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Tâches</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="is-flex is-flex-direction-column is-justify-content-center">
    <!-- Header -->
    <header class="hero is-small is-link">
        <div class="hero-body">
            <h1 class="title">
                <a href="/">Gestionnaire de Tâches</a>
            </h1>
        </div>
    </header>