<!-- Menu -->
<nav class="menu has-background-grey-lighter">
    <ul class="menu-list">
        <li>
            <a href="/tasks">Tâches</a>
        </li>
        <li>
            <a href="/tasks/new">Nouvelle Tâche</a>
        </li>
    </ul>
</nav>