<%- include('partials/header') %>

<div class="main-container">
    <%- include('partials/nav') %>

    <div class="content-container my-5">
        <h1 class="title">Dashboard</h1>

        <% tasks.forEach(task => { %>
            <%- include('partials/task', { task }) %>
        <% }); %>

    </div>
</div>

<%- include('partials/footer') %>
